 <div class="main-panel-container">

     <app-users class="users-container"
                [@usersModeChange]="mode"
        [users]="users"
        [mode]="mode">
      </app-users>

      <app-user-detail [@detailModeChange]="mode"
        [user]="user"
        [detail]="detail"
        [mode]="mode">
      </app-user-detail>

     <div [@messagesModeChange]="mode">

      <app-messages
        [user]="user"
        [messages]="messages">
      </app-messages>

      <app-message-editor
        [user]="user"
        (messageSend) = "onMessageSend($event)">
      </app-message-editor>

     </div>

 </div>

  <ng-template #loading>
  </ng-template>
