.users-list {
  padding-left: 0;
  height: 100%;
}

.users-list-container{
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.users-list-item {
  cursor: pointer;
}

.selected {
  background: azure;
}
