.users-list {
  padding-left: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.users-list-container{
  max-height: 70vh;
}

.users-list-item {
  cursor: pointer;
}

.selected {
  background: azure;
}
