<p>
  <a class="nav-item nav-link" href="https://github.com/stokaboka" target="_blank">
    <i class="fa fa-github"> github.com/stokaboka</i>
  </a>
  <a class="nav-item nav-link" href="https://twitter.com/IgorHorev" target="_blank">
    <i class="fa fa-twitter"> twitter.com/IgorHorev</i>
  </a>
  <a class="nav-item nav-link" href="https://medium.com/@igorhorev" target="_blank">
    <i class="fa fa-medium"> medium.com/@igorhorev</i>
  </a>
  <a class="nav-item nav-link" href="mailto:igorhorev@gmail.com" target="_blank">
    <i class="fa fa-mail-forward"> igorhorev@gmail.com</i>
  </a>
</p>
