      <div class="card">

        <h2 class="card-header">
          {{ user.firstName }} {{ user.middleName }} {{ user.lastName }}
        </h2>

        <div class="card-body">

          <img *ngIf="user.image" class="card-img-top rounded user-detail-image"  src="{{user.image}}" alt="{{ user.firstName }}">

            <div class="user-detail-properties">

              <div *ngFor="let userDetailProp of userDetailProperties">
                <div *ngIf="detail[ userDetailProp.property ]" class="user-detail-container-row">
                  <div class="user-detail-label">{{ userDetailProp.label }}</div>
                  <div class="user-detail-property">{{ detail[ userDetailProp.property ] }}</div>
                </div>
              </div>

            </div>

          <div class="user-detail-info">{{ detail.info }}</div>

        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-secondary" routerLink="/send/{{ user.id }}">Send message</button>
        </div>
      </div>
