<li class="users-list-item-deco">
  <a routerLink="/{{urlPart}}/{{user.id}}">
    <div class="user-list-item">

      <div>
        <img class="user-list-item-image img-thumbnail" src="{{ user.image }}">
      </div>

      <span *ngIf="mode === MODE_USERS" class="user_names">
        {{ user.firstName }} {{ user.middleName }} {{ user.lastName }}
      </span>

      <span *ngIf="mode === MODE_USER" class="user_names">
        {{ user.firstName }} {{ user.middleName }} {{ user.lastName }}
      </span>

      <span *ngIf="mode === MODE_SEND" class="user_names">
        {{ user.firstName | firstSymbol }}{{ user.middleName | firstSymbol }}{{ user.lastName | firstSymbol }}
      </span>

    </div>
  </a>
</li>
