a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

li:hover {
  background: #343a40;
}

.user_nickname,
.user_names {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: bold;
}

.users-list-item-deco {
  padding: 10px 20px;
}

.users-list-item-deco:hover span {
  color: white;
}

.user-list-item-image {
  width: 100px;
  height: auto;
}
