<li class="users-list-item-deco">
  <a routerLink="/user/{{user.id}}">
    <div class="row">

      <div class="col ">
        <img class="user-list-item-image img-thumbnail" src="{{ user.image }}">
      </div>

      <span *ngIf="mode === MODE_USERS" class="col user_names ">
        {{ user.firstName }} {{ user.middleName }} {{ user.lastName }}
      </span>

      <span *ngIf="mode === MODE_USER" class="col user_names ">
        {{ user.firstName }} {{ user.middleName }} {{ user.lastName }}
      </span>

      <span *ngIf="mode === MODE_SEND" class="col user_names ">
        {{ user.firstName | firstSymbol }} {{ user.middleName | firstSymbol }} {{ user.lastName | firstSymbol }}
      </span>

    </div>
  </a>
</li>
